{%load static%}

{%load crispy_forms_tags%}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Carrinho</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    </head>

    </head>
    <body>


       {% block menu%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'index'%}">Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'cadastrar-carrinhos'%}">cadastrar <span class="sr-only">(current)</span></a>
      </li>
  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Listar informações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'listar-carrinhos'%}"> Listar carrinho</a>
          <a class="dropdown-item" href="#"> Listar atividade</a>
          <a class="dropdown-item" href="#"> Listar carrinho</a>
        </div>
      </li>
    </ul>
  </div>
</nav> 
        {% endblock %}

{% block conteudo %}
<h3> Listar carrinho de dados
    <hr>
<div class='table-responsive'>
    <table class='table table-strinped'>
      <tr>
      <th> Id</th>
      <th> Nome</th>
      <th> descrição</th>
      <th> opção</th>
      </tr>

      {%for carrinho in object_list%}
     
      <tr>
        <td>{{carrinho.nome}}</td>
        <td>{{carrinho.descricao}}</td>
         <td> 
           <a href="{%url 'editar-carrinhos' carrinho.pk%}"
            class="btn btn-warning btn-sm"> Edital</a>
        </td>        
     <td> 
          <a href="{%url 'excluir-carrinhos' carrinho.pk%}" 
          class="btn btn-warning btn-sm"> Excluir</a>
        </td>
       </tr>
       {% empty%}
       <tr>
        <td> nenhum registro foi encotrado</td>
       </tr>
       {% endfor %}
    </table> 
</div> 

{% endblock  %}