{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">    </head>
  
        <body>
          3333333
        {% block menu%}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{%url 'index'%}">Principal</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="{%url 'cadastrar-campo'%}">cadastrar <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'cadastrar-atividade'%}">cadastrar atividade <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{%url 'cadastrar-atividade'%}">cadastro de produto</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Listar informações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="{%url 'Listar-campo'%}"> Listar campo</a>
          <a class="dropdown-item" href="#"> Listar atividade</a>
          <a class="dropdown-item" href="#"> Listar produto</a>
        </div>
      </li>
    </ul>
  </div>
</nav> 
        {% endblock %}


{% load crispy_forms_tags %}



{% block conteudo %}

<div class="row">

    {% if request.user.is_authenticated %}
    <div class="col-md mx-auto">
        <h3>
            <i class="fa fa-exclamation" aria-hidden="true"></i>
            Ação não permitida
        </h3>
        <hr>
        <p class="lead">
            <strong>
                Houve algum problema para processar a ação desejada ou você não tem permissão para isso.
            </strong>
        </p>
    </div>
    {% else %}

    <div class="col-md-4 mx-auto">
        
        <h3>Autenticação</h3>
        
        <!-- <p class="lead">
            Preencha todos os campos obrigatórios.
        </p> -->
        
        <hr>
        <form action="" method="POST">
        
            {% csrf_token %}
        
            {{ form|crispy }}
        
            <button type="submit" class="btn btn-light mt-3">Entrar</button>
        
        </form>

    </div>
    {% endif %}
</div>

{% endblock %}